<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <%- include('index.ejs') %>
    <h1><%=shopName%></h1>
    <ul>
        <% for(let i = 0; i < products.length; i++) { %>
            <li><%= products[i].name %>, $<%= products[i].price %></li>
          <% } %> 
    </ul> 
  </body>
</html>